*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Karla";
}
h1{
    font-family: "Markazi Text";
    font-size: 3rem;
    font-weight: 900;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #000;
}

/* header */
.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 0.7% 5%;
    width: 100%;
    margin: 0;
    background-color: #fff;
    color: #000;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 65px;
    padding-top: 0.7%;
}
.links{
    transition: 0.3s ease;
}
.links:hover{
    color:#00cccc;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 4px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;

}

/* main */
#Home{
    padding: 12% 20%;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #e6ffff;
}
.home-text{
    text-align: left;
}
.home-text h1{
    font-size: 3rem;
}
.home-text p{
    font-size: 1.5rem;
}
@keyframes my-animation{
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}
.profile{
    animation: my-animation 8s ease-in-out infinite;
    background-image: url(/styles/images/profile.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    transition: all 1s ease-in-out;
    width: 25rem;
    height: 25rem;
    
}
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
    width: 100%;
}
.row{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5% auto;
    gap:100px;
}
.logo{
    width: 10rem;
}
#Contact{
    padding: 5% 15%;
    display: flex;
    justify-content: center;
    background-color: #e6e6e6;
}
.contact-form{
    width: 100%;
    text-align: left;
}
.mail-img{
    text-align: center;
    width: 70%;
    margin: 17% 30%;
}

.socials{
    display: flex;
    justify-content: center;
    margin: 3% auto;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.social-icon{
    width: 2rem;
}
@media (max-width: 810px){
    #Home{
        flex-direction: column-reverse;
    }
    .home-text{
        text-align: center;
    }
    .profile{
        width: 100%;
        height: 9rem;
    }
    .hamburger{
        display: block;
    }
    .nav-item{
        margin: 0 15px;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(9px)rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-9px)rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 10%;
        width: 100%;
        flex-direction: column;
        transition: 0.5s;
        text-align: center;
        background-color: #fff;
        opacity: 95%;
        padding: 19px 0;
    }
    .nav-item{
        margin: 15px 0;
    }
    .nav-menu.active{
        left: 0;
    }
    .profile{
        width: 45%;
        margin: 100px auto 50px auto;
    }
    .logo{
        width: 4.5rem;
    }
    .contact{
        flex-direction: column;
        gap: 80px;
    }
    .contact-form{
        width: 100%;
    }
    .mail-img{
        margin-top:0;
        width: 50%;
        text-align: center;
    }
}


